@{
    ViewBag.Title = "Contactenos";
}

<h2 class="cabeza">CONTACTENOS</h2>
<div>
    <b class="Contactenos">Telefonos:</b>
    <ul class="Contactos">62-43843</ul>
    <ul class="Contactos">62-43814</ul>
    <b class="Contactenos">Dirección</b>
    <ul class="Contactos">Armando Alba # 22</ul>
    <b class="Contactenos">Fax</b>
    <ul class="Contactos">.....</ul>
    <b class="Contactenos">Celulares</b>
    <ul class="Contactos">74238248</ul>
    <ul class="Contactos">76172258</ul>
    <b class="Contactenos">Correo</b>
    <ul class="Contactos">HotelesBolvia@hotmail.com</ul>
</div>