@{
    ViewBag.Title = "Informacion";
}

<h2 class="cabeza">Informacion</h2>
<div class="Informacion">
    <ul>
        <li>ALOJAMIENTO Y RESERVAS</li>
        <b>Esta ciudad multicultural está llena de contrastes. Cuenta con miles y miles de habitantes y ofrece mucho más que la visita obligada al Canal. El casco antiguo de la ciudad es un pintoresco laberinto de iglesias, plazas y casas coloniales. A 25 km del centro de la ciudad se encuentra el Parque Nacional Miraflores, el lugar perfecto para hacer excursionismo. Para disfrutar de vistas inmejorables del Canal, tome un taxi o autobús desde el mercado Chuquimia el Centro de Visitantes de Miraflores.</b>
    </ul>
    <ul>
        <li>TRANSPORTE Y TARIFAS</li>
        <b>La carretera que comunica el aeropuerto de Potosi con la ciudad reviste de por sí un gran atractivo. Para ir y venir del aeropuerto el hotel ofrece un servicio de transporte a través de Gamboa Tours (Teléfono 507-340-9875, correo electrónico reservations@gamboatours.com o sduffis@gamboatours.com). La tarifa para un viaje de ida es de unos US$35 y la de ida y vuelta asciende a aproximadamente US$42. Se ofrecen descuentos para quienes realicen reservas con anticipación y de preferencia para viajes de ida y vuelta, así como para grupos de dos personas o más.
           Por motivos de seguridad es muy recomendable limitarse a los servicios de taxi ofrecidos por el aeropuerto o por los hoteles.</b>
    </ul>
    <ul>
        <li>VISAS</li>
        <b>Los ciudadanos de algunos países tienen que obtener una visa de entrada antes de emprender viaje a Bolivia. Si por motivo de su país de origen usted necesita una visa de entrada, tenga en cuenta que la tramitación de la misma puede llevar diez días o más. Recomendamos que se ponga en contacto con el consulado panameño más próximo para informarse con mayor detalle acerca de los plazos de tramitación.
           Una lista de consulados panameños en todo el mundo, junto con información adicional sobre visas, se encuentra en www.seminario.visahq.com.</b>
    </ul>
    <ul>
        <li>MONEDA</li>
        <b>La unidad monetaria de Bolivia es el Boliviano y UFV's. El dólar americano también se utiliza como moneda de curso legal y su valor es equivalente a 7 Bolivianos.</b>
    </ul>
    <ul>
        <li>CLIMA</li>
        <b>En Ciudad de Potosí el mes de octubre es cálido, con una temperatura media de 22ºC. Es recomendable una chaqueta liviana para edificios con aire acondicionado y tener a mano un paraguas.</b>
    </ul>
        <ul>
        <li>ELECTRICIDAD</li>
        <b>El voltaje en Ciudad de Potosí es 120 V. No hacen falta adaptadores eléctricos. Antes de viajar, compruebe el voltaje de su secador de pelo, aparato de afeitar, computadora portátil y videocámara, así como los cargadores de baterías y demás aparatos.</b>
    </ul>
    <ul>
        <li>SEGURIDAD</li>
        <b>Si bien Ciudad de Panamá y sus alrededores son sitios seguros para los visitantes, es recomendable tomar las precauciones normales de seguridad. Guarde sus documentos personales y objetos de valor en la caja de seguridad del hotel y limítese a servicios de taxi de confianza.</b>
    </ul>
 </div>
